
}

body {
display: block;
margin:8px;
font-family: "Helvetica, sans-serif";

}


.top {
background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
text-align: center;
color: white;

}

.top h1{
font-size: 70px;
font-weight: bold;
font-family: Helvetica;
color:white;

}

.btn-nav{
font-family:Helvetica;
font-size:18px;
color:white;

}

.supportingSection {
text-align:center;

}

.supportingSection h2{
font-weight:bold;
font-size:32px;
font-family: Helvetica;
}
.supportingSection h3{
font-size: 23px;
font-weight:bold;
font-family: Helvetica;

}

.supporting-item p {
font-family:Helvetica;
font-size: 14px;

}


.footer {
background-color: dimgray;
font-size:11px;
color:white;
font-family: Helvetica;
text-align: left;

}
